$bg: rgba(0, 0, 0, .7);
$links-color: #FFF;
$links-hover: #277E1F;
$hover-txt-color: #000;
$orange: orange;
*,
:before,
:after {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./restaurant-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #FFF;
}

nav {
    background: $bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    .logo {
        text-transform: uppercase;
    }
    .navigation-links {
        display: flex;
        a {
            padding: 25px;
            color: $links-color;
            text-decoration: none;
            text-transform: uppercase;
            &:nth-child(2) {
                border-right: 1px solid gray;
                border-left: 1px solid gray;
            }
            &:hover {
                background: $links-hover;
                color: $hover-txt-color;
            }
        }
        .active {
            border-bottom: 4px solid #AB450A;
        }
    }
}

footer {
    background: $bg;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 10px 25px;
    .footer-logo {
        display: flex;
        width: 15%;
        justify-content: space-between;
        align-items: center;
        color: #FFF;
        p {
            a {
                color: #FFF;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: blue;
                }
            }
        }
        div {
            text-transform: uppercase;
        }
    }
    .footer-links {
        .social-link {
            display: inline-block;
            border: 1px solid #fff;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            &:hover {
                background: #DBA470;
                border: 1px solid #DBA470;
            }
        }
        #twitter {
            background-image: url("./twitter.svg");
            background-size: 22px;
            background-repeat: no-repeat;
            background-position: center;
        }
        #linkedin {
            background-image: url("./linkedin.svg");
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
        }
        #github {
            background-image: url("./github.svg");
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}